.profile {
    border: 3px solid #000;
    border-radius: 7px;
    padding-top: 15px;
    background-color: #F8F8FF;
    margin-bottom: 30px;
}

.prof {
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: rgb(10, 10, 10);
    display: flex;
}

.name {
    font-weight: 700;
    font-size: 20px;
    margin: 2%;
    color: #000;
    display: flex;
    justify-content: center;

}

.tag {
    font-size: 18px;
    margin: 2%;
    display: flex;
    justify-content: center;
    color: #808080;
}

.location {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin: 2%;
    color: #808080;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-top: 2px solid #0a0a0a65;
    background-color: #A9A9A9;
    margin: 0%;
    padding: 0;
}

.profileListItem {
    display: flex;
    flex-direction: column;
    width: calc((100% - 20px) / 3);
    border-left: 2px solid #0a0a0a65;

}

.profileListItem:first-child {
    border: none;
}

.profileSpan {
    margin: 0 auto;
    color: #000;
}

.profileInfoSpan {
    font-weight: 700;
    margin: 0 auto;
    color: #000;
}