.isOffline {
    color: red;
}

.isOnline {
     color: green;
}

.friendItem {
    width: 100px;
    padding: 10px 0;
    border: 2px solid #000;
    border-radius: 10px;
}

.friendImg {
    margin: 0 auto;
    margin-bottom: 10px;
}

.friendName {
    font-size: 25px;
    font-weight: 500;
}